<!-- Login form -->

<form [formGroup]="loginForm">

  <!-- Username input -->
  <mat-form-field class="inputs" appearance="fill">
    <mat-label>Username</mat-label>
    <input required formControlName="username" matInput>
  </mat-form-field>

  <br>

  <!-- Password input -->
  <mat-form-field class="inputs" appearance="fill">
    <mat-label>Password</mat-label>
    <input required formControlName="password" matInput [type]="passwordHide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="this.passwordToggle($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
      <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <!-- Action buttons -->
  <button mat-raised-button (click)="this.onEnterClick()" class="buttons" color="primary">Enter</button>
  <button mat-raised-button routerLink="/register" class="buttons" color="primary">Register</button>

</form>
