<!-- Register form -->

<form>

  <!-- First Name input -->
  <mat-form-field class="inputs" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>

  <br>

  <!-- Last Name input -->
  <mat-form-field class="inputs" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>

  <br>

  <!-- Username input -->
  <mat-form-field class="inputs" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput>
  </mat-form-field>

  <br>

  <!-- Password input -->
  <mat-form-field class="inputs" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="passwordHide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="this.passwordToggle($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
      <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <!-- Repeat Password input -->
  <mat-form-field class="inputs" appearance="fill">
    <mat-label>Repeat Password</mat-label>
    <input matInput [type]="passwordHide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="this.passwordToggle($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
      <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <!-- Action buttons -->
  <button mat-raised-button class="buttons" color="primary">Register</button>
  <button mat-raised-button routerLink="/" class="buttons" color="primary">Already have an account?</button>

</form>
